@charset "utf-8";

/* 초기화 */
*{margin: 0; padding: 0;}

/* wrap 영역 */
#wrap{
    /* 자식요소가 float하면 부모는 높이를 알 수 없음 */
    width: 300px;
    background-color: lightgreen;
    margin: 0 auto;
    /* 방법2 */
    /* height: 100px; */
    /* 방법3 */
    /* overflow: hidden; */
}
/* 방법4 */
#wrap::after{
    display: block;
    content: "";
    clear: both;
}

/* box1,2 영역 */
#wrap > div{
    width: 100px;
    height: 100px;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
}

.box1{
    background-color: lightblue;
    float: left;
}
.box2{
    background-color: lightcoral;
    float: right;
}
/* 방법1 */
/* id가 우선순위 높으므로 id도 같이 써주기 */
/* #wrap > .clear{
    width: 0;
    height: 0;
    clear: both;
} */